*.log
wp-config.php
content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/mu-plugins/
content/wp-cache-config.php
content/plugins/hello.php
xmlrpc.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.sql
*.sql.gz
/config/database.yml
/config/deploy.rb
/config/deploy/staging.rb
/config/deploy/production.rb

node_modules
